@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
body {
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  margin: 0;
}
.wrapper-main {
  width: 280px;
  padding: 15px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 32px 67px -1px rgba(89, 89, 89, 0.09);
  -webkit-box-shadow: 0px 32px 67px -1px rgba(89, 89, 89, 0.09);
  -moz-box-shadow: 0px 32px 67px -1px rgba(89, 89, 89, 0.09);
}
.wrapper-main img {
  width: 280px;
  border-radius: 10px;
}
.wrapper-main h1 {
  color: hsl(218, 44%, 22%);
  margin-top: 25px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.wrapper-main p {
  font-weight: 400;
  width: 90%;
  font-size: 15px;
  text-align: center;
  color: hsl(220, 15%, 55%);
}

@media screen and (width: 375px) {
}
